/*Universal*/

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 70em;
  margin: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Main Banner */

.main-banner {
  background-image: url("../resources/images/banner_3.png");
  width: 100%;
  height: 44em;
}

.headline {
  color: white;
  margin-top: 24%;
  text-align: center;
  font-size: 1.5em;
  font-family: garamond;
}

.headline p {
  font-family: "nunito", sans serif;
  font-weight: 400;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;

}

nav li {
  margin-left: 1em;
}

.company-name {
  display: flex;

}

.company-name h1 {
  margin-left: 1em;
}

.hamburger {
  display: none;
}

/* Top Section*/

.top-section {
  display: flex;
}

.top-left h1 {
  font-family: "nunito", sans serif;
}

.top-left p {
  font-family: garamond;
}

.top-right p {
  font-size: 1.5em;
}

.top-left {
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 44em;
}

.top-left-content {
  width: 60%;
}

.top-left-content h1 {
  margin-bottom: -.2em;
}

.top-right {
  /*border: 2px solid red;*/
  width: 50%;
  height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5em;
  text-align: center;
  background-color: #f8f8f8;
}

.top-right-content h2 {
  margin-top: -1em;
}

/* Bottom Section */

.bottom-section {
  display: flex;
}

.bottom-left {
  /*border: 2px solid red;*/
  width: 50%;
  height: 44em;
  background-image: url("../resources/images/cafe.png");
}

.bottom-right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-right-content {
  width: 60%;
}

.bottom-right-content h1 {
  margin-bottom: -.2em;
  font-family: "nunito", sans serif;
}

/* Footer */

footer {
  /*border: 2px solid red;*/
  height: 7.5em;
  display: flex;
  background-color: black;
}

.footer-content {
  /*border: 2px solid red;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5em;
  color: white;
}

.footer-content ul li {
  display: inline;
  margin-left: 3em;
}

.footer-content img {
  margin-left: 3em;
}

footer li {
  font-family: "nunito", sans serif;
  font-weight: 530;
  font-size: 0.85em;
}

/* Phone Media Queries */

  /* Header */

  @media screen and (max-width: 640px) {

    nav ul {
      display: none;
    }

    nav {
      color: black;
    }

    .hamburger {
      display: flex;
      align-items: center;
      margin-right: 1.5em;
      margin-bottom: .5em;
    }

    .hamburger img {
      height: 2em;
      width: 2.5em;
    }

    .main-banner {
      background-image: none;
      height: 4em;
    }

  }
