/*Universal*/

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 70em;
  margin: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Main Banner */

.main-banner {
  background-image: url("../resources/images/banner_3.png");
  width: 100%;
  height: 44em;
}

.headline {
  color: white;
  margin-top: 24%;
  text-align: center;
  font-size: 1.5em;
  font-family: garamond;
}

.headline p {
  font-family: "nunito", sans serif;
  font-weight: 400;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  /*position: fixed;*/
}

nav ul {
  display: flex;
  list-style-type: none;

}

nav li {
  margin-left: 1em;
}

.company-name {
  display: flex;

}

.company-name h1 {
  margin-left: 1em;
}

.hamburger {
  display: none;
}

/* Top Section*/

.top-section {
  display: flex;
}

.top-left h1 {
  font-family: "nunito", sans serif;
}

.top-left p {
  font-family: garamond;
}

.top-right p {
  font-size: 1.5em;
}

.top-left {
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 44em;
}

.top-left-content {
  width: 60%;
}

.top-left-content h1 {
  margin-bottom: -.2em;
}

.top-right {
  /*border: 2px solid red;*/
  width: 50%;
  height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5em;
  text-align: center;
  background-color: #f8f8f8;
}

.top-right-content h2 {
  margin-top: -1em;
}

/* Bottom Section */

.bottom-section {
  display: flex;
}

.bottom-left {
  /*border: 2px solid red;*/
  width: 50%;
  height: 44em;
  background-image: url("../resources/images/cafe.png");
}

.bottom-right{
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-right-content {
  width: 60%;
}

.bottom-right-content h1 {
  margin-bottom: -.2em;
  font-family: "nunito", sans serif;
}

.learn-more {
  display: none;
}

/* Footer */

footer {
  /*border: 2px solid red;*/
  height: 7.5em;
  display: flex;
  background-color: black;
  max-width: 100%;
}

.footer-content {
  /*border: 2px solid red;*/
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5em;
  color: white;
  margin: auto;
}

.footer-content ul li {
  display: inline;
  margin-left: 3em;
}

.footer-content img {
  margin-left: 3em;
}

footer li {
  font-family: "nunito", sans serif;
  font-weight: 530;
  font-size: 0.85em;
}

.new-left-footer {
  display: none;
}

/* Phone Media Queries */

  /* Header */

  @media screen and (max-width: 640px) {

    nav ul {
      display: none;
    }

    nav {
      color: black;
    }

    .hamburger {
      display: flex;
      align-items: center;
      margin-right: 1.5em;
      margin-bottom: .5em;
    }

    .hamburger img {
      height: 2em;
      width: 2.5em;
    }

    .main-banner {
      background-image: none;
      height: 4em;
    }

  }

  /* Top-Section */

    @media screen and (max-width: 640px) {
      .top-right {
        display: none;
      }

      .top-left{
        /*border: 2px solid red;*/
        max-width: 100%;
        text-align: center;
        height: 26.5em;
        background-color: #03cefe;
        margin-top: .5em;
      }

      .top-left-content {
        width: 98%;
      }

      .top-left-content p {
        line-height: 1.5em;
      }

      .top-left-content img {
        margin-right: 6.3em;
      }

      .top-left-content h1 {
        margin-bottom: -.5em;
      }
    }

    /* Bottom Section */

    @media screen and (max-width: 640px) {
      .bottom-left {
        display: none;
      }

      .bottom-section {
        /*display: flex;
        align-items: center;*/
      }

      .bottom-right {
        max-width: 100%;
        text-align: center;
        height: 28.5em;
        display: flex;
        margin-top: -3em;
      }

      .bottom-right-content {
        width: 98%;

      }

      .bottom-right-content img {
        margin-right: 4.7em;
      }

      .bottom-right-content h1 {
        margin-bottom: -.5em;
      }

      .bottom-right-content p {
        line-height: 1.5em;
      }

      .learn-more {
        display: flex;
        justify-content: center;
        margin-bottom: 3.43em;
        margin-top: -5.43em;
        /*border: 2px solid red;*/
        /*display: flex;
        justify-content: center;*/
        /*margin-top: 3em;*/
      }
    }

    /* Footer Section */

    @media screen and (max-width: 640px) {


      .left-footer{
        display: none;
      }

      .right-footer {
        display: none;
      }

      .logo {
        text-align: center;
      }

      .footer-content {
        max-width: 100%;
        display: block;
      }

      .logo img {
        margin-right: 2.5em;
      }

      .new-left-footer {
        display: inline;
      }

    }
